header {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
}

header div {
    background-color: white;
}

#high-score {
    font-size: 30px;
    padding-left: 1em;
}

#high-score a {
    color: black;
    text-decoration: none;
}

#timer {
    font-size: 30px;
    padding-right: 2em;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    height: 700px;
    background-color: white;
}

main h1 {
    padding-top: 2.5em;
    width: 50%;
    text-align: center;
}

#answer-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    width: 50%;
    height: 400px;
}

#answer-form-container p {
    font-size: 24px;
    text-align: center;
}

#answer-form-container .btn {
    background-color: mediumpurple;
    border-radius: 15%;
    font-size: 24px;
    color: white;
    margin: .25em 0 .25em 0;
}

#answer-form-container .btn:hover {
    background-color:#dcd0ff;
    color: black;
}

.answer-response {
    display: flex;
    background-color: lightgreen;
    width: 50%;
    height: 50px;
    align-items: center;
}

.answer-response p {
    padding-left: 2em;
    font-size: 24px;
}
